body, html {
/*    margin & padding set to 0 so banners work correctly*/
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: dimgray;
}

/*
@font-face{
    Font courtesy of Youssef Habchi at http://youssef-habchi.com/  
    font-family: 'RoadRage';
    src: url('Road_Rage.otf')
}
*/

h1, h2, h3 {
    padding-left: 1em;
    font-family: "Lato", sans-serif;
    color: #0892d0;
    font-weight: bold;
/*    font-size: 2em;*/
}

p, footer {
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 1.5em;
    padding-left: 2em;
    font-weight: lighter;
    color:floralwhite;
}

img {
    border-radius: 50%;
    max-height: 8em;
}

footer {
    width: 80%;
    position: fixed;
    bottom: 2%;
    height: 2%;
    text-align: center;
    left: 9%;
    font-size: 14px;
}

.header {
    height: 8em;
    padding-top: 1%;
    background-color: black;
    text-align: center
}

.profile_pic {
    display: block;
    margin: auto;
    position: absolute;
    top: 5em;
    right: 43.5%;
/*    max-height: 10em;*/
}

.self-summary {
    padding-top: 1em;
}

.projects li {
    display: inline;
    padding: 5%;
}
